body{
    margin: 0;
    padding: 0;
}
.header1{
    background-color: #f8f8f8;
    padding: 10px 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.navbar1{
    display: flex;
    margin-left: 20%;
    align-items: center;
}
.navbar1 ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar1 ul li{
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
}