body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  background: linear-gradient(rgba(158, 157, 157, 0.5), rgba(190, 190, 190, 0.6)),url('../image/bg.webp') no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 25px;
  color: black !important;
  background-attachment: fixed !important
}
.logo img{
  width: 130px;
  height: 70px;
  margin-top: 10px;
  margin-left: 89%;
}
.box1 {
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 10%;
  color: black;
}
.box1 h1 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}
.box1 p{
    text-align: center;
}
.box2{
    font-size: 20px;
    text-align: center;
    margin-top: 8%;
}
.arrow {
  font-size: 25px !important;
  animation: bounce infinite 3s;
  margin-top: 13px;
}
hr {
  width: 50%;
  border: dotted 1px black;
  margin-top: 15px;
}
h1{
    text-align: center;
    margin-top: 15px;
}
.parent1-2 {
  width: 100%;
  height: auto;
  position: relative;
  margin: auto;
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  text-align: center;
  margin-left: 12%;
}
.parent1-2 img{
  width: 380px;
  height: 200px;
  margin-left: -15px;
}
.child1{
  width: 28%;
  height: auto;
  padding: 35px;
  background-color: white;
  border: solid 3px black;
  margin-top: 10% !important;
  margin: 10px;
  color: black;
}
.child2 {
  width: 28%;
  height: auto;
  padding: 45px;
  background-color: white;
  border: solid 3px black;
  margin-top: 15% !important;
  margin: 10px;
  color: black;
}